.c-profile-actions {
  display: flex;
  &__item {
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--text-4);
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
