@import 'src/styles/common/media';

.cdk-global-scrollblock {
  overflow: hidden;
  padding-right: var(--scrollbar-size);
  position: static;
}
.cdk-overlay-container {
  .mat-mdc-dialog-container {
    .mdc-dialog {
      &__surface {
        @extend .c-base-layout;
      }
      &__title {
        @extend .header-3;
        padding: 0;
        margin: 0;
        &::before {
          display: none;
        }
      }
      &__content {
        @extend .regular-text;
        padding: 0;
        margin: var(--y-indent) 0;
        max-height: initial;
      }
      &__actions {
        min-height: initial;
        padding: 0;
      }
    }
  }
}

@include mobile {
  .cdk-overlay-pane {
    max-width: 500px !important;
  }
}
