.c-dropdown {
  padding: 8px 0;
  background-color: var(--background-1);
  border: 2px solid var(--accent);
  border-radius: 8px;
  &__item {
    padding: 0 14px;
    min-height: 40px;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover {
      background-color: var(--accent-semi-transparent)
    }
  }
}
