html .c-line {
  background-color: var(--text-3);
  &_horizontal {
    min-width: 100%;
    max-width: 100%;
    min-height: 1px;
    max-height: 1px;
  }
  &_vertical {
    min-width: 1px;
    max-width: 1px;
    min-height: 100%;
    max-height: 100%;
  }
}
