$avatar-size: 40px;

.c-authorized-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
  }
  &__name {
    margin-left: 10px;
    max-width: 190px;
  }
}
.c-authorized-user-dropdown {
  margin-top: 8px;
}
