@import 'src/styles/common/media';

$avatar-size: 40px;
$avatar-size--mobile: 30px;

.c-authorized-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__avatar {
    width: $avatar-size;
    border-radius: 50%;
  }
  &__name {
    margin-left: 10px;
    max-width: 190px;
  }
}
.c-authorized-user-dropdown {
  margin-top: 8px;
}

@include mobile {
  .c-authorized-user {
    &__avatar {
      width: $avatar-size--mobile;
    }
  }
}
