$related-profiles-row-count: 12;

.profile {
  &__card {
    padding: var(--y-indent) var(--x-indent);
  }
  &__block {
    &:not(:last-child) {
      margin-bottom: var(--y-indent--small);
    }
  }
  &__related-profiles {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat($related-profiles-row-count, 1fr);
  }
  &__related-profile {
    width: calc((var(--page-content-size) - var(--x-indent) * 2) / $related-profiles-row-count) ;
  }
}
