<div *ngIf="profile" class="profile">
  <div class="profile__block">
    <app-profile-card class="profile__card c-base-layout" [profile]="profile" [large]="true"></app-profile-card>
  </div>
  <div class="profile__block">
    <app-profile-block [collapsable]="true">
      <div title class="d-flex">
        <h3>Друзья</h3>
        <div class="mr-4 ml-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
          {{ friends.length }}
        </div>
        <a class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
           routerLink="/profiles"
        >+</a>
      </div>
      <div content *ngIf="friends.length" class="profile__related-profiles">
        <app-short-profile-card *ngFor="let profile of friends"
                                class="profile__related-profile"
                                [profile]="profile"
        ></app-short-profile-card>
      </div>
      <div content *ngIf="!friends.length" class="profile__related-profiles">
        <span class="color-text-4">Здесь будут отображаться ваши друзья</span>
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block" *ngIf="incomingRequests.length">
    <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
      <div title class="d-flex">
        <h3>Входящие заявки</h3>
        <div class="mr-4 ml-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
          {{ incomingRequests.length }}
        </div>
      </div>
      <div content class="profile__related-profiles">
        <app-short-profile-card *ngFor="let profile of incomingRequests"
                                class="profile__related-profile"
                                [profile]="profile"
        ></app-short-profile-card>
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block" *ngIf="outgoingRequests.length">
    <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
      <div title class="d-flex">
        <h3>Исходящие заявки</h3>
        <div class="mr-4 ml-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
          {{ outgoingRequests.length }}
        </div>
      </div>
      <div content class="profile__related-profiles">
        <app-short-profile-card *ngFor="let profile of outgoingRequests"
                                class="profile__related-profile"
                                [profile]="profile"
        ></app-short-profile-card>
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block">
    <app-profile-block>
      <div title class="d-flex">
        <h3>Желания</h3>
        <div class="mr-4 ml-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">6</div>
        <div class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
             (click)="openAddWishDialog()"
        >+</div>
      </div>
      <div content>
        <span class="color-text-4">Здесь будут отображаться ваши желания</span>
      </div>
    </app-profile-block>
  </div>
  <app-profile-settings #profileSettings></app-profile-settings>
  <app-wish-form #wishForm></app-wish-form>
</div>
