.c-snackbar {
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  border: 2px solid var(--accent);
  position: relative;

  &_info {
    color: var(--accent);
    border-color: var(--accent);
    background-color: var(--background-2);
  }
  &_error{
    color: var(--error);
    border-color: var(--error);
    background-color: var(--background-1);
  }

  &_cat {
    &-top, &-left {
      padding-left: 60px;
    }
  }

  &__cat {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    &_top {
      top: -2px;
      left: 10px;
      transform: rotate(180deg);
    }
    &_bottom {
      bottom: -2px;
      left: 10px;
    }
    &_left {
      left: -2px;
      bottom: 10px;
      transform: rotate(90deg);
    }
    &_right {
      right: -2px;
      bottom: 10px;
      transform: rotate(-90deg);
    }
  }

  &__button {
    margin-left: auto;
  }
}
