@import 'src/styles/common/media';

$avatar-size: 120px;
$avatar-size--presentation-view: 180px;

.c-card {
  display: grid;
  grid-template-areas: 'avatar header controls'
                       'avatar description description'
                       'avatar truncate-description-button truncate-description-button';
  grid-template-columns: max-content auto min-content;
  grid-template-rows: minmax(36px, auto) 1fr;
  column-gap: var(--x-indent--small);
  row-gap: 4px;

  &_presentation-view {
    column-gap: var(--x-indent);

    .c-card {
      &__avatar {
        max-width: $avatar-size--presentation-view;
        min-width: $avatar-size--presentation-view;
      }
    }
  }
  &_no-description {
    grid-template-areas: 'avatar header controls';
    grid-template-rows: auto;

    .c-card__description {
      display: none;
    }
  }
  &__avatar {
    grid-area: avatar;
    max-width: $avatar-size;
    min-width: $avatar-size;
  }
  &__controls {
    grid-area: controls;
    min-width: max-content;
  }
  &__header {
    grid-area: header;
    align-self: center;
    & > span {
      display: inline;
      vertical-align: middle;
    }
}
  &__description {
    grid-area: description;
  }
  &__truncate-description-button {
    grid-area: truncate-description-button;
  }
}

@include mobile {
  .c-card {
    justify-items: center;
    grid-template-areas:
      'avatar'
      'header'
      'controls'
      'description'
      'truncate-description-button';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    row-gap: 0;

    &__header {
      margin-top: var(--y-indent--small);
      text-align: center;
    }
    &__controls {
      margin-top: var(--y-indent--small);
    }
    &__description {
      margin-top: var(--y-indent--small);
    }
    &__truncate-description-button {
      justify-self: start;
    }
  }
}
