<div
  class="c-card"
  [class]="{
    'c-card_presentation-view': presentationView,
    'c-card_no-description': !description
  }"
>
  <div class="c-card__avatar">
    <app-avatar [avatarId]="avatarId" [type]="avatarType" />
  </div>
  <div
    class="c-card__header"
    [class]="{ 'header-2': presentationView, 'header-4': !presentationView }"
  >
    <span>{{ header }}</span>
    <span *ngIf="headerBadge" class="c-card__header-badge c-badge c-badge_secondary">{{ headerBadge }}</span>
  </div>
  <a *ngIf="showControls" #controls class="c-card__controls" href="javascript:;" (click)="$event.stopPropagation()">
    <ng-content select="[controls]" />
  </a>
  <div class="c-card__description color-text-4">{{ truncatedDescription }}</div>
  <div *ngIf="shouldTruncateDescription" class="c-card__truncate-description-button" >
    <span class="c-button c-button_text" (click)="switchDescriptionView()">
      {{ showFullDescription ? 'Скрыть' : 'Показать полностью' }}
    </span>
  </div>
</div>
