<div class="c-ellipsis-dropdown" cdkOverlayOrigin #ellipsis="cdkOverlayOrigin">
  <div class="c-ellipsis-dropdown__button c-button c-button_icon"
       (mouseup)="$event.stopPropagation()"
       (click)="switch()"
  >
    <app-icon icon="more_horiz"></app-icon>
  </div>

  <app-overlay #dropdown [trigger]="ellipsis" [position]="position">
    <div class="c-dropdown mt-8">
      <div *ngFor="let item of dropdownItems"
           class="c-dropdown__item"
           (click)="item.action()"
      >{{ item.value }}</div>
    </div>
  </app-overlay>
</div>
