<div *ngIf="wishes.length" class="c-wishes c-line-separated-list">
  <ng-container *ngFor="let wish of wishes; let i = index">
    <div class="c-line-separated-list__separator c-line c-line_horizontal"></div>
    <div
      class="c-wishes__item c-line-separated-list__item"
      [class]="{ 'c-wishes__item_editable': editableItems }"
    >
      <app-card
        [avatarId]="wish.avatarId"
        [avatarType]="EAvatarType.wish"
        [header]="wish.title"
        [headerBadge]="getBadge(wish)"
        [description]="wish.description"
        [showControls]="!mobile || !!wish.bookingStatus"
        (click)="editableItems && openWishFormDialog(wish)"
      >
        <app-wish-actions
          controls
          *ngIf="!!wish.bookingStatus"
          [bookingStatus]="wish.bookingStatus"
        />
        <div controls *ngIf="editableItems" class="c-wishes__item-edit-button">
          <app-icon icon="edit" />
        </div>
      </app-card>
    </div>
    <ng-template #removeWishMessages>
      <div class="d-flex flex-column">
        <div class="mb-10">Вы действительно хотите удалить желание <b class="d-inline">{{ wish.title }}</b>?</div>
        <div class="mb-10">Отменить это действие будет <b class="d-inline">невозможно</b>.</div>
        <div>Если кто-то забронировал это желание, то он потеряет к нему доступ после удаления.</div>
      </div>
    </ng-template>
  </ng-container>
</div>
<app-wish-form
  #wishForm
  (submit)="saveWish($event)"
  (remove)="openRemoveWishDialog($event)"
></app-wish-form>
