.c-wishes {
  &__item {
    &_editable {
      cursor: pointer;
      &:hover {
        .c-wishes__item-edit-button {
          opacity: 1;
        }
      }
    }
    &-edit-button {
      color: var(--accent);
      font-size: 18px;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
