<div class="c-profile-card">
  <div class="c-profile-card__avatar">
    <app-avatar source="https://hips.hearstapps.com/hmg-prod/images/domestic-cat-lies-in-a-basket-with-a-knitted-royalty-free-image-1592337336.jpg"
    ></app-avatar>
  </div>
  <div class="c-profile-card__info">
    <div class="c-profile-card__name">
      <h1>Галина Гравчук</h1>
    </div>
    <div class="c-profile-card__description color-text-4">
      Привет, меня зовут Галина! Я занимаю позицию project-manager в компании “Волна доступа”. Название в целом не отражает
      суть компании - доступы мы даём две недели. Ну и вообще статус по аналитике всё ещё не понятен, асап
    </div>
  </div>
</div>
