.c-profile-card {
  display: flex;
  padding: 40px;
  &__avatar {
    margin-right: 30px;
    max-width: 180px;
    min-width: 180px;
    max-height: 180px;
    min-height: 180px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description {
    margin-top: 20px;
    flex-grow: 1;
  }
}
