<div class="c-wish-card" *ngIf="wish">
  <div class="c-wish-card__avatar">
    <app-avatar [source]="wish.avatar" [type]="EAvatarType.wish"></app-avatar>
  </div>
  <div class="c-wish-card__content">
    <div class="c-wish-card__title-group">
      <div class="header-4">{{ wish.title }}</div>
    </div>
    <div class="color-text-4">{{ wish.description }}</div>
  </div>
  <div class="c-wish-card__button">
    <app-ellipsis-dropdown [dropdownItems]="dropdownItems" [position]="EOverlayPosition.bottomEnd"></app-ellipsis-dropdown>
  </div>
</div>
