$avatar-size: 120px;

.c-wish-card {
  display: flex;
  &__avatar {
    min-width: $avatar-size;
    min-height: $avatar-size;
    max-width: $avatar-size;
    max-height: $avatar-size;
  }
  &__content {
    padding: 0 var(--x-indent--small);
  }
  &__title-group {
    margin-bottom: var(--y-indent--small)
  }
  &__button {
    min-width: 180px;
    margin-left: auto;
    display: flex;
    justify-content: end;
  }
}
