.c-profile-block {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--y-indent--small) var(--x-indent);
  }
  &__content {
    padding: var(--y-indent--small) var(--x-indent);
  }
  &_collapsable {
    .c-profile-block__title {
      cursor: pointer;
    }
  }
}
