<ng-template #dialogContent>
  <div *ngIf="profile" class="c-profile-settings">
    <app-image-uploader
      #imageUploader
      class="c-profile-settings__image-uploader"
      [removeOriginImageDisabled]="!controls.avatarId.value"
      (removeOriginImage)="removeAvatar()"
      (change)="onAvatarChanged()"
    >
      <app-avatar [avatarId]="controls.avatarId.value"></app-avatar>
    </app-image-uploader>
    <form class="c-profile-settings__form" [formGroup]="form">
      <app-input
        class="mb-12"
        label="имя"
        appTrimStartWhitespaces
        appDisableRepeatWhitespaces
        [inputControl]="controls.name"
      ></app-input>
      <app-textarea
        label="о себе (необязательно)"
        appTrimStartWhitespaces
        appDisableRepeatWhitespaces
        [inputControl]="controls.description"
        [rows]="14"
      ></app-textarea>
    </form>
  </div>
</ng-template>
<ng-template #dialogButtons>
  <app-button
    class="mr-4"
    tabindex="-1"
    [color]="EBaseColor.primary"
    [disabled]="submitDisabled"
    (click)="saveProfileSettings()"
  >Сохранить</app-button>
  <app-button
    tabindex="-1"
    [color]="EBaseColor.secondary"
    (click)="cancelProfileSettings()"
  >Отменить</app-button>
</ng-template>
