.c-ellipsis-dropdown {
  cursor: pointer;
  &__button {
    app-icon {
      color: var(--text-4);
      transition: color 0.3s;
    }
    &:hover, &:focus, &:active {
      app-icon {
        color: var(--accent);
      }
    }
  }
}
