$related-profiles-row-max-count: 12;
$related-profile-width: calc((var(--page-content-size) - var(--x-indent) * 2) / $related-profiles-row-max-count);

.profile {
  &__card {
    padding: var(--y-indent) var(--x-indent);
  }
  &__block {
    &:not(:last-child) {
      margin-bottom: var(--y-indent--small);
    }
  }
  &__related-profiles {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, $related-profile-width);
    column-gap: 4px;
  }
}
