<div *ngIf="profile" class="profile">
  <div class="profile__block">
    <app-card
      class="profile__card c-base-layout"
      [avatarId]="profile.avatarId"
      [header]="profile.name"
      [description]="profile.description"
      [presentationView]="true"
      [showControls]="!!profile.friendshipStatus"
    >
      <app-profile-actions
        controls
        [friendshipStatus]="profile.friendshipStatus"
        (acceptIncomingRequest)="acceptIncomingRequest()"
        (rejectIncomingRequest)="rejectIncomingRequest()"
        (createOutgoingRequest)="createOutgoingRequest()"
        (cancelOutgoingRequest)="cancelOutgoingRequest()"
        (removeAcceptedRequest)="removeAcceptedRequest()"
      />
    </app-card>
  </div>
  <div *ngIf="showAcceptedRequests" class="profile__block">
    <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
      <div title class="d-flex">
        <h3 class="mr-4">Друзья</h3>
        <div
          *ngIf="acceptedRequests.length"
          class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary"
        >
          {{ acceptedRequests.length }}
        </div>
        <a
          *ngIf="profile.account.id === accountId"
          class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
          routerLink="/profiles"
        >+</a>
      </div>
      <div content *ngIf="acceptedRequests.length" class="profile__related-profiles">
        <app-short-profile-card
          *ngFor="let profile of acceptedRequests"
          class="profile__related-profile"
          [profile]="profile"
        ></app-short-profile-card>
      </div>
      <div content *ngIf="!acceptedRequests.length" class="color-text-4">
        Здесь будут отображаться ваши друзья
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block" *ngIf="incomingRequests.length">
    <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
      <div title class="d-flex">
        <h3 class="mr-4">Входящие заявки</h3>
        <div class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
          {{ incomingRequests.length }}
        </div>
      </div>
      <div content class="profile__related-profiles">
        <app-short-profile-card
          *ngFor="let profile of incomingRequests"
          class="profile__related-profile"
          [profile]="profile"
        ></app-short-profile-card>
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block" *ngIf="outgoingRequests.length">
    <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
      <div title class="d-flex">
        <h3 class="mr-4">Исходящие заявки</h3>
        <div class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
          {{ outgoingRequests.length }}
        </div>
      </div>
      <div content class="profile__related-profiles">
        <app-short-profile-card
          *ngFor="let profile of outgoingRequests"
          class="profile__related-profile"
          [profile]="profile"
        ></app-short-profile-card>
      </div>
    </app-profile-block>
  </div>
  <div class="profile__block">
    <app-profile-block>
      <div title class="d-flex">
        <h3 class="mr-4">Желания</h3>
        <div
          *ngIf="wishList.wishes.length"
          class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary"
        >
          {{ wishList.wishes.length }}
        </div>
        <div
          class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
          (click)="wishList.openWishFormDialog()"
        >+</div>
      </div>
      <div content>
        <app-wish-list
          #wishList
          [showActions]="profile.account.id !== accountId"
          [editableItems]="profile.account.id === accountId"
        />
      </div>
    </app-profile-block>
  </div>
</div>
