:root {
  --scrollbar-size: 4px;
}
// chromium
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  &-thumb {
    background-color: var(--text-4);
    border-radius: 4px;
  }
}
// firefox
* {
  scrollbar-color: var(--text-4) transparent;
  scrollbar-width: thin;
}
