$spaces: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 48, 60, 64, 80);
$sides: (top, bottom, left, right);

html {
  .m-auto {
    margin: auto !important;
  }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-auto {
      margin-#{$side}: auto !important;
    }
  }
  @each $space in $spaces {
    .nm-#{$space} {
      margin: -#{$space}px !important;
    }
    .m-#{$space} {
      margin: #{$space}px !important;
    }
    .p-#{$space} {
      padding: #{$space}px !important;
    }

    @each $side in $sides {
      .nm#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: -#{$space}px !important;
      }
      .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }
      .p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}
