@mixin text($font-family, $font-weight, $font-size, $line-height, $letter-spacing: 0) {
  font-style: normal;
  font-family: #{$font-family}, Helvetica, Arial, sans-serif;
  font-weight: #{$font-weight};
  font-size: #{$font-size}px;
  @if $line-height {
    line-height: #{$line-height}px;
  }
  @if $letter-spacing {
    letter-spacing: #{$letter-spacing};
  }
}

label, .caption {
  @include text('Rubik', 400, 10, 12);
}
b, .bold-text {
  @include text('Rubik', 700, 14, 18);
}
.medium-text {
  @include text('Rubik', 500, 14, 18);
}
body, .regular-text {
  @include text('Rubik', 400, 14, 18);
}
h4, .header-4 {
  @include text('Montserrat', 500, 18, 22);
}
h3, .header-3 {
  @include text('Montserrat', 700, 20, 24);
}
h2, .header-2 {
  @include text('Montserrat', 700, 26, 30);
}
h1, .header-1 {
  @include text('Montserrat', 700, 36, 42);
}
.logo {
  @include text('Raleway', 700, 40, 40);
}
