<div class="c-profile-block c-base-layout" [class]="{ 'c-profile-block_collapsable': collapsable }">
  <div class="c-profile-block__title" (click)="switchCollapsed()">
    <div class="c-profile-block__title-content">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="c-profile-block__title-actions">
      <div
        *ngIf="collapsable"
        [class]="{ 'c-profile-block__title-action_collapsed': collapsed }"
        class="c-profile-block__title-action c-button c-button_icon"
      >
        <app-icon icon="expand_more"></app-icon>
      </div>
    </div>
  </div>
  <div *ngIf="!collapsed" class="c-profile-block__content">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
