.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > * {
    width: 100%;
    max-width: var(--page-content-size);
    margin: 0 auto;
  }
  &__header {
    position: sticky;
    top: 0;
    background-color: var(--background-1);
    z-index: 2;
  }
  &__content {
    flex-grow: 1;
    padding: var(--y-indent) 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-1);
    z-index: 1;
  }
  &__footer {
    background-color: var(--background-1);
    z-index: 1;
  }
}
