.c-welcome-form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 50px 0;
  &__logo {
    margin-bottom: 50px;
  }
  &__header {
    margin-bottom: var(--y-indent);
  }
}
