$avatar-size: 120px;
$avatar-size--large: 180px;
.c-profile-card {
  display: flex;
  position: relative;
  &__avatar {
    margin-right: var(--x-indent--small);
    max-width: $avatar-size;
    min-width: $avatar-size;
    max-height: $avatar-size;
    min-height: $avatar-size;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    display: flex;
    align-items: center;
  }
  &__description {
    margin-top: var(--y-indent--small);
    flex-grow: 1;
  }
  &__state {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }
  &__state-item {
    display: flex;
    align-items: center;
    text-align: right;
    color: var(--text-4);
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}

.c-profile-card_large {
  .c-profile-card {
    &__avatar {
      margin-right: var(--x-indent);
      max-width: $avatar-size--large;
      min-width: $avatar-size--large;
      max-height: $avatar-size--large;
      min-height: $avatar-size--large;
    }
  }
}
