<div class="c-profile-card" [class]="{ 'c-profile-card_large': large }">
  <div class="c-profile-card__avatar">
    <app-avatar [source]="profile.avatar"></app-avatar>
  </div>
  <div class="c-profile-card__info">
    <div class="c-profile-card__name">
      <div [class]="{
        'header-1': large,
        'header-4': !large
      }">{{ profile.name }}</div>
    </div>
    <div *ngIf="profile.description" class="c-profile-card__description color-text-4">
      {{ profile.description }}
    </div>
  </div>
  <div *ngIf="friendshipStatus" class="c-profile-card__state">
    <ng-container *ngIf="friendshipStatus === EFriendshipStatus.notRequested">
      <div class="c-profile-card__state-item">
        <app-button>Добавить в друзья</app-button>
      </div>
    </ng-container>
    <ng-container *ngIf="friendshipStatus === EFriendshipStatus.requestAccepted">
      <div class="c-profile-card__state-item">
        <div class="c-button c-button_text pr-10"
             (mouseup)="$event.stopPropagation()"
             (click)="dropdown.switch()"
        >у вас в друзьях</div>
        <app-ellipsis-dropdown #dropdown
                               [position]="EOverlayPosition.bottomEnd"
                               [dropdownItems]="requestAcceptedStatusDropdownItems"
        ></app-ellipsis-dropdown>
      </div>
    </ng-container>
    <ng-container *ngIf="friendshipStatus === EFriendshipStatus.incomingRequest">
      <div class="c-profile-card__state-item caption">
        Пользователь хочет<br>добавить Вас в друзья
      </div>
      <div class="c-profile-card__state-item">
        <app-button>Принять</app-button>
      </div>
      <div class="c-profile-card__state-item">
        <app-button [color]="EBaseColor.secondary">Отклонить</app-button>
      </div>
    </ng-container>
    <ng-container *ngIf="friendshipStatus === EFriendshipStatus.outgoingRequest">
      <div class="c-profile-card__state-item caption">
        Заявка в друзья<br>отправлена
      </div>
      <div class="c-profile-card__state-item">
        <app-button [color]="EBaseColor.secondary">Отменить</app-button>
      </div>
    </ng-container>

  </div>
</div>
