<div class="c-image-uploader" appDragAndDropStyle [dragAndDropArea]="uploadAreaControl">
  <ly-img-cropper class="c-image-uploader__cropper"
                  [config]="imageCropperConfig"
                  [(scale)]="scale"
                  (minScale)="minScale = $event"
                  (maxScale)="maxScale = $event"
                  (cropped)="onCropped($event)"
                  (loaded)="onLoaded($event)"
                  (error)="onError($event)"
                  (wheel)="zoom($event)"
  >
    <div class="c-image-uploader__upload-area c-image-uploader-upload-area">
      <div class="c-image-uploader-upload-area__source">
        <ng-content></ng-content>
      </div>
      <div #uploadAreaControl class="c-image-uploader-upload-area__control">
        <div class="c-image-uploader-upload-area__button">
          <app-icon icon="add_photo_alternate"></app-icon>
        </div>
      </div>
    </div>
  </ly-img-cropper>

  <div class="c-image-uploader__controls mt-16">
    <div class="c-image-uploader__control"
         [class]="{ 'c-image-uploader__control_disabled': !cropper.isLoaded }"
         (click)="cropper.rotate(-90)"
    >
      <app-icon icon="rotate_90_degrees_ccw"></app-icon>
      <div class="ml-4">Повернуть</div>
    </div>
    <div class="c-image-uploader__control c-image-uploader__control_red"
         [class]="{ 'c-image-uploader__control_disabled': !cropper.isLoaded && removeOriginImageDisabled }"
         (click)="removeImage()"
    >
      <app-icon icon="highlight_off"></app-icon>
      <div class="ml-4">Удалить</div>
    </div>
  </div>
</div>
