@import 'src/styles/common/media';

.c-dropdown {
  &__overlay {
    padding: 4px 0;
    background-color: var(--background-1);
    border: 2px solid var(--accent);
    border-radius: 8px;
    margin-top: 8px;
  }
  &__item {
    padding: 0 14px;
    min-height: 28px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover {
      background-color: var(--accent-semi-transparent)
    }
  }
}

@include mobile {
  .c-dropdown {
    &__overlay {
      border-width: 1px;
      border-radius: 4px;
      margin-top: 4px;
    }
    &__item {
      min-height: 24px;
      min-width: 90px;
    }
  }
}
