<div class="signup c-base-layout">
  <div class="signup__welcome-conversation">
    <app-welcome-conversation></app-welcome-conversation>
  </div>
  <div class="signup__line c-line c-line_vertical"></div>
  <div class="signup__welcome-form-block">
    <app-welcome-form-block>
      <form class="signup__form" [formGroup]="form">
        <div
          class="signup__form-step"
          [class]="{ 'd-none': currentSignupStep !== ESignupStep.account }"
        >
          <div class="signup__form-inputs">
            <app-input
              class="mb-12"
              label="логин"
              [inputControl]="controls.account.controls.login"
            ></app-input>
            <app-input
              class="mb-12"
              label="e-mail"
              [type]="EInputType.email"
              [inputControl]="controls.account.controls.email"
            ></app-input>
            <app-input
              class="mb-12"
              label="пароль"
              [type]="EInputType.password"
              [inputControl]="controls.account.controls.password"
            ></app-input>
            <app-input
              label="повторите пароль"
              [type]="EInputType.password"
              [inputControl]="controls.account.controls.confirmPassword"
            ></app-input>
          </div>
          <div class="signup__form-buttons">
            <app-button
              class="signup__form-button"
              [disabled]="goToProfileStepDisabled"
              (click)="goToProfileStep()"
            >Далее</app-button>
          </div>
        </div>
        <div
          class="signup__form-step"
          [class]="{ 'd-none': currentSignupStep !== ESignupStep.profile }">
          <div class="signup__form-inputs">
            <app-input
              class="mb-12"
              label="имя"
              appRestrictWhitespaces
              [inputControl]="controls.profile.controls.name"
            ></app-input>
            <app-textarea
              label="о себе"
              placeholder="о себе (необязательно)"
              appConvertEmptyStringToNull
              appRestrictWhitespaces
              [inputControl]="controls.profile.controls.description"
              [rows]="8"
            ></app-textarea>
          </div>
          <div class="signup__form-buttons">
            <app-button
              class="signup__form-button mb-12"
              [disabled]="submitDisabled"
              (click)="onSubmit()"
            >Завершить регистрацию</app-button>
            <app-button
              class="signup__form-button"
              [color]="EBaseColor.secondary"
              (click)="goToAccountStep()"
            >Назад</app-button>
          </div>
        </div>
      </form>
      <div class="signup__caption caption">
        <div>Уже есть аккаунт?</div>
        <a class="color-accent" routerLink="/signin">Войти</a>
      </div>
    </app-welcome-form-block>
  </div>
</div>
