@import 'src/styles/common/media';

:host {
  margin: auto 0;
}

.signup {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: var(--y-indent);
  width: 100%;

  &__form {
    width: 320px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-inputs {
      width: 100%;
    }
    &-buttons {
      width: 280px;
    }
    &-button {
      width: 100%;
    }
  }

  &__caption {
    margin-top: var(--y-indent--small);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include tablet {
  .signup {
    grid-template-columns: auto;
    min-height: initial;

    &__welcome-conversation, &__line {
      display: none;
    }
  }
}

@include mobile {
  .signup {
    &.c-base-layout {
      box-shadow: none;
    }
    &__form {
      margin: 0 auto;
      width: 100%;
      max-width: 280px;
      height: 240px;
      &-buttons {
        width: 200px;
      }
    }
  }
}
