<div
  class="c-snackbar"
  [class]="['c-snackbar_' + view, 'c-snackbar_cat-' + catPosition]"
  [style.textAlign]="textAlign"
  [style.width]="width + 'px'"
>
  <div class="c-snackbar__cat" [class]="['c-snackbar__cat_' + catPosition]">
    <svg-icon src="assets/icons/mas-cat.svg"></svg-icon>
  </div>
  <span matSnackBarLabel>
    <div *ngIf="title" class="c-snackbar__title medium-text mb-10">{{ title }}</div>
    <div *ngIf="titleTemplate" class="c-snackbar__title medium-text mb-10">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </div>
    <div
      *ngIf="text"
      class="c-snackbar__text caption"
      [innerText]="text"
    ></div>
    <div *ngIf="textTemplate" class="c-snackbar__text caption">
      <ng-contaner [ngTemplateOutlet]="textTemplate"></ng-contaner>
    </div>

  </span>
  <span *ngIf="buttonText" matSnackBarActions>
    <app-button
      matSnackBarAction
      class="c-snackbar__button caption mt-10"
      [height]="25"
      (click)="snackBarRef.dismissWithAction()"
    >{{ buttonText }}</app-button>
  </span>
</div>
