@import 'src/styles/common/media';

.c-header {
  &__content {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 var(--x-indent);
  }
  &__line {
    margin-top: 9px;
  }
}

@include mobile {
  .c-header {
    &__content {
      height: 30px;
    }
  }
}
