<div class="с-profile__block">
  <app-card
    class="с-profile__card c-base-layout"
    [avatarId]="profile.avatarId"
    [header]="profile.name"
    [description]="profile.description"
    [presentationView]="true"
    [showControls]="showProfileControls"
    [visibleDescriptionLinesLength]="10"
  >
    <app-profile-actions
      *ngIf="profile.friendshipStatus"
      controls
      [friendshipStatus]="profile.friendshipStatus"
      (acceptIncomingRequest)="acceptIncomingRequest()"
      (rejectIncomingRequest)="rejectIncomingRequest()"
      (createOutgoingRequest)="createOutgoingRequest()"
      (cancelOutgoingRequest)="cancelOutgoingRequest()"
      (removeAcceptedRequest)="removeAcceptedRequest()"
    />
    <app-button
      *ngIf="profile.account.id === accountId"
      controls
      (click)="openProfileSettings()"
    >Редактировать</app-button>
  </app-card>
</div>
<div *ngIf="showAcceptedRequests" class="с-profile__block">
  <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
    <div title class="d-flex">
      <h3 class="mr-4">Друзья</h3>
      <div
        *ngIf="acceptedRequests.length"
        class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary"
      >
        {{ acceptedRequests.length }}
      </div>
      <a
        *ngIf="profile.account.id === accountId"
        class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
        routerLink="/profiles"
      >
        +
      </a>
    </div>
    <div *ngIf="acceptedRequests.length" content class="с-profile__related-profiles">
      <app-short-profile-card
        *ngFor="let profile of acceptedRequests"
        class="с-profile__related-profile"
        [profile]="profile"
      ></app-short-profile-card>
    </div>
    <div *ngIf="!acceptedRequests.length" content class="color-text-4">
      Здесь будут отображаться ваши друзья
    </div>
  </app-profile-block>
</div>
<div *ngIf="incomingRequests.length" class="с-profile__block">
  <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
    <div title class="d-flex">
      <h3 class="mr-4">Входящие заявки</h3>
      <div class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
        {{ incomingRequests.length }}
      </div>
    </div>
    <div content class="с-profile__related-profiles">
      <app-short-profile-card
        *ngFor="let profile of incomingRequests"
        class="с-profile__related-profile"
        [profile]="profile"
      ></app-short-profile-card>
    </div>
  </app-profile-block>
</div>
<div *ngIf="outgoingRequests.length" class="с-profile__block">
  <app-profile-block [collapsable]="true" [initialState]="EBlockState.collapsed">
    <div title class="d-flex">
      <h3 class="mr-4">Исходящие заявки</h3>
      <div class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary">
        {{ outgoingRequests.length }}
      </div>
    </div>
    <div content class="с-profile__related-profiles">
      <app-short-profile-card
        *ngFor="let profile of outgoingRequests"
        class="с-profile__related-profile"
        [profile]="profile"
      ></app-short-profile-card>
    </div>
  </app-profile-block>
</div>
<div class="с-profile__block">
  <app-profile-block>
    <div title class="d-flex">
      <h3 class="mr-4">Желания</h3>
      <div
        *ngIf="wishes.length"
        class="mr-4 c-badge c-badge_rounded c-badge_header c-badge_secondary"
      >
        {{ wishes.length }}
      </div>
      <div
        *ngIf="profile.account.id === accountId"
        class="c-badge c-badge_rounded c-badge_header c-badge_primary c-badge_hover"
        (click)="wishList.openWishFormDialog()"
      >
        +
      </div>
    </div>
    <div content>
      <app-wishes
        #wishList
        [wishes]="wishes"
        [accountId]="profile.account.id"
        [editableItems]="profile.account.id === accountId"
        (update)="getWishes()"
      />
      <div *ngIf="!hasWishesAccess" class="color-text-4">Желания пользователя могут видеть только его друзья</div>
      <div *ngIf="hasWishesAccess && !wishes.length" class="color-text-4">
        <div *ngIf="profile.account.id === accountId">Здесь будут отображаться ваши желания</div>
        <div *ngIf="profile.account.id !== accountId">Пользователь пока не добавил желаний</div>
      </div>
    </div>
  </app-profile-block>
</div>
<app-profile-settings
  #profileSettings
  (submit)="saveProfileSettings($event)"
></app-profile-settings>
