<ng-template #dialogContent>
  <div class="c-wish-form">
    <app-image-uploader
      #avatarUploader
      class="c-wish-form__image-uploader"
      [maxFileSize]="10485760"
      [removeOriginDisabled]="!controls.avatarId.value"
      (removeOrigin)="removeAvatar()"
      (change)="onAvatarChanged()"
      (upload)="onAvatarUploaded($event)"
      (uploadError)="onAvatarUploadError()"
    >
      <app-avatar [avatarId]="controls.avatarId.value" [type]="EAvatarType.wish"></app-avatar>
    </app-image-uploader>
    <form class="c-wish-form__form" [formGroup]="form">
      <app-input
        class="mb-12"
        label="название"
        appRestrictWhitespaces
        [inputControl]="controls.title"
      ></app-input>
      <app-textarea
        label="описание"
        appRestrictWhitespaces
        [inputControl]="controls.description"
        [rows]="14"
      ></app-textarea>
    </form>
  </div>
</ng-template>
<ng-template #dialogButtons>
  <app-button
    class="mr-4"
    tabindex="-1"
    [color]="EBaseColor.primary"
    [disabled]="submitDisabled || removeLoading"
    [loading]="loading"
    (click)="onSubmit()"
  >Сохранить</app-button>
  <app-button
    class="mr-4"
    tabindex="-1"
    [color]="EBaseColor.secondary"
    (click)="cancelWishForm()"
  >Отменить</app-button>
  <app-button *ngIf="wish"
    tabindex="-1"
    [color]="EBaseColor.danger"
    [disabled]="loading"
    [loading]="removeLoading"
    (click)="openRemoveWishDialog()"
  >Удалить</app-button>
</ng-template>
