<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="profiles">
  <div class="profiles__filter c-base-layout">
    <app-profiles-filter (filter)="getFilteredProfiles($event)"></app-profiles-filter>
  </div>
  <div *ngIf="filteredProfiles.length" class="profiles__cards c-base-layout c-line-separated-list">
    <ng-container *ngFor="let profile of filteredProfiles">
      <div class="c-line-separated-list__separator c-line c-line_horizontal"></div>
      <a class="c-line-separated-list__item" [routerLink]="'/profile/' + profile.account.login">
        <app-card [avatarId]="profile.avatarId" [header]="profile.name" [description]="profile.description" [showControls]="!!profile.friendshipStatus">
          <app-profile-actions
            controls
            [friendshipStatus]="profile.friendshipStatus"
            (acceptIncomingRequest)="acceptIncomingRequest(profile)"
            (rejectIncomingRequest)="rejectIncomingRequest(profile)"
            (createOutgoingRequest)="createOutgoingRequest(profile)"
            (cancelOutgoingRequest)="cancelOutgoingRequest(profile)"
            (removeAcceptedRequest)="removeAcceptedRequest(profile)"
          />
        </app-card>
      </a>
    </ng-container>
  </div>
  <div *ngIf="!filteredProfiles.length" class="profiles__not-found-message">
    Пользователи не найдены. Попробуйте изменить параметры поиска.
  </div>
</div>
