<div class="signin c-base-layout">
  <div class="signin__welcome-conversation">
    <app-welcome-conversation></app-welcome-conversation>
  </div>
  <div class="signin__line c-line c-line_vertical"></div>
  <div class="signin__welcome-form-block">
    <app-welcome-form-block>
      <form class="signin__form" [formGroup]="form">
        <div class="signin__form-inputs">
          <app-input class="mb-20"
                     label="e-mail / логин"
                     [inputControl]="controls.login"
          ></app-input>
          <app-input label="пароль"
                     [type]="EInputType.password"
                     [inputControl]="controls.password"
          ></app-input>
        </div>
        <app-button [disabled]="submitDisabled" (click)="onSubmit()">Войти</app-button>
      </form>
      <div class="signin__caption caption">
        <div>Ещё нет аккаунта?</div>
        <a class="color-accent" routerLink="/signup">Зарегистрироваться</a>
      </div>
    </app-welcome-form-block>
  </div>
</div>
