.c-message {
  width: fit-content;
  max-width: 350px;
  padding: 20px 30px;
  border: 2px solid;
  border-radius: 8px;

  &__primary {
    border-color: var(--accent);
    background-color: var(--accent);
    color: var(--text-1);
  }
  &__secondary {
    border-color: var(--accent);
    background-color: var(--background-1);
    color: var(--text-2);
  }
  &__danger {
    border-color: var(--error);
    background-color: var(--background-1);
    color: var(--error);
  }
}
