<ng-container *ngIf="loading"></ng-container>
<div *ngIf="!loading" class="profiles">
  <div class="profiles__filter c-base-layout">
    <app-profiles-filter (change)="getProfiles($event)"></app-profiles-filter>
  </div>
  <div *ngIf="profiles.length" class="profiles__cards c-base-layout c-line-separated-list">
    <ng-container *ngFor="let profile of profiles">
      <div class="c-line-separated-list__separator c-line c-line_horizontal"></div>
      <div class="c-line-separated-list__item" [appLink]="'/profile/' + profile.account.login">
        <app-card [avatar]="profile.avatar" [header]="profile.name" [description]="profile.description" [showControls]="!!profile.friendshipStatus">
          <app-profile-actions controls [friendshipStatus]="profile.friendshipStatus" />
        </app-card>
      </div>
    </ng-container>
  </div>
  <div *ngIf="!profiles.length" class="profiles">
    Пользователи не найдены. Попробуйте изменить параметры поиска.
  </div>
</div>
