.profiles {
  &__filter {
    padding: var(--y-indent--small) var(--x-indent) var(--y-indent) var(--x-indent);
    margin-bottom: var(--x-indent);
  }
  &__cards {
    padding: var(--y-indent--small) var(--x-indent);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
