@import 'src/styles/common/media';

.c-image-uploader {
  &__cropper {
    max-width: 320px;
    height: 320px;
    border-radius: 8px;
  }

  &__upload-area {
    border-radius: 50%;
    border: 4px dashed var(--accent);
    width: 100%;
    height: 320px;
  }

  &__controls {
    display: flex;
    justify-content: space-around;
  }

  &__control {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    &_red {
      color: var(--error);
    }
    &_disabled {
      pointer-events: none;
      color: var(--text-3);
    }
    app-icon {
      font-size: 24px;
    }
  }

  &__input {
    display: none;
  }
}
.c-image-uploader-upload-area {
  position: relative;

  &__source {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.5;
    transition: background-color 0.3s;
    cursor: pointer;
    app-icon {
      font-size: 72px;
      transition: transform 0.3s;
    }
    &:hover {
      app-icon {
        transform: translateY(-4px);
      }
    }
  }

  &__button {
    color: var(--text-1);
    font-size: 72px;
  }
}

@include mobile {
  .c-image-uploader {
    width: 280px;
    &__cropper {
      max-width: 280px;
      height: 280px;
      border-radius: 4px;
    }

    &__upload-area {
      border-width: 2px;
      width: 100%;
      height: 280px;
    }
    &__control {
      app-icon {
        font-size: 20px;
      }
    }
  }
  .c-image-uploader-upload-area {
    &__control {
      &:hover {
        app-icon {
          transform: none;
        }
      }
    }
  }
}
