<div class="c-dialog">
  <div mat-dialog-title class="d-flex align-items-center justify-content-between">
    <div *ngIf="title" [innerText]="title"></div>
    <div *ngIf="titleTemplate">
      <ng-container [ngTemplateOutlet]="titleTemplate"></ng-container>
    </div>
    <button class="c-button_icon color-text-4" tabindex="-1" (click)="close()">
      <app-icon icon="clear"></app-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div *ngIf="content" [innerText]="content"></div>
    <div *ngIf="contentTemplate">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <app-button
      *ngIf="submitButtonText"
      class="mr-20"
      tabindex="-1"
      [mat-dialog-close]="true"
      [color]="submitButtonColor || EBaseColor.primary"
    >{{ submitButtonText }}</app-button>
    <app-button
      *ngIf="cancelButtonText"
      tabindex="-1"
      [color]="EBaseColor.secondary"
      (click)="close()"
    >{{ cancelButtonText }}</app-button>
    <ng-container *ngIf="buttonsTemplate" [ngTemplateOutlet]="buttonsTemplate"></ng-container>
  </div>
</div>
